/* FONTS */
@import url(https://fonts.bunny.net/css?family=barlow:600|fraunces:700,900);


/* VARIABLS */
:root {
  /* PRIMARY COLORS */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* NEUTRAL COLORS */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 9%, 39%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

/* BOX SIZING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* HEADINGS SETTINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Fraunces';
}

/* BODY SETTINGS */
body {
  font-size: 18px;
  font-family: 'Barlow';
  margin: 0;
  background-color: var(--white);
  color: var(--very-dark-desat-blue);
}

#hero {
  height: 800px;
  background-image: url(./../images/desktop/image-header.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);
  text-align: center;
}

#hero h1 {
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin: 80px 0;
}

header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 34px 40px
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header ul li {
  list-style-type: none;
  padding: 0 20px;
}

header ul li:nth-child(3) {
  padding-right: 40px;
}

header ul li:last-child {
  color: var(--very-dark-desat-blue);
  background-color: var(--white);
  font-family: 'Fraunces';
  padding: 21px 35px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: 700;
}

header ul li:last-child:hover {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.25);
}
