/* FONTS
   ============================= */
@import url(https://fonts.bunny.net/css?family=barlow:600|fraunces:700,900);

/* GLOBAL SETTINGS
   ============================= */
:root {
  /* PRIMARY COLORS */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desat-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);

  /* NEUTRAL COLORS */
  --very-dark-desat-blue: hsl(212, 27%, 19%);
  --very-dark-gray-blue: hsl(213, 9%, 39%);
  --dark-gray-blue: hsl(232, 9%, 39%);
  --gray-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Fraunces';
}

/* BODY SETTINGS
   ============================= */
body {
  font-size: 18px;
  font-family: 'Barlow';
  margin: 0;
  background-color: var(--white);
  color: var(--very-dark-desat-blue);
}


/* HERO SETTINGS
   ============================= */
#hero {
  height: 800px;
  background-image: url(./../images/desktop/image-header.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  color: var(--white);
  text-align: center;
}

#hero h1 {
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin: 80px 0;
}

@media screen and (max-width: 500px) {
  #hero {
    background-image: url(./../images/mobile/image-header.jpg);
    height: 100vh;
  }

  #hero h1 {
    font-size: 13vw;
    letter-spacing: 0.2rem;
    margin: 60px 0;
  }
}


/* HEADER SETTINGS
   ============================= */
header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 34px 20px;
}

.contact a {
  font-family: 'Fraunces';
  padding: 21px 35px;
  border-radius: 500px;
  text-transform: uppercase;
  font-weight: 700;
}

#desktop-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#desktop-nav ul li {
  list-style-type: none;
  padding: 0 20px;
}

#desktop-nav ul li a {
  color: var(--white);
  text-decoration: none;
}

#desktop-nav ul li:nth-child(3) {
  padding-right: 40px;
}

#desktop-nav ul li:last-child a {
  color: var(--very-dark-desat-blue);
  background-color: var(--white);
}

header #desktop-nav ul li:last-child:hover a {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.25);
}

#mobile-nav {
  display: none;
}

.sub-menu {
  display: none;
  background-color: var(--white);
  color: var(--very-dark-desat-blue);
  position: absolute;
  z-index: 20;
  margin: 5px 8% 0;
  width: 84%;
  padding: 30px 10px;
  text-align: center;
}

.show-sub-menu {
  display: block;
}

.sub-menu::after {
	content: '';
	position: absolute;
	top: 0;
	right:0;
	width: 0;
	height: 0;
	border: 27px solid transparent;
	border-bottom-color: var(--white);
	border-top: 0;
	border-right: 0;
	margin-left: -13.5px;
	margin-top: -27px;
}

.sub-menu ul {
  width: 60%;
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sub-menu ul li a {
  text-decoration: none;
  color: var(--very-dark-desat-blue);
}

.sub-menu ul li:last-child {
  margin: 20px 0;
}

.sub-menu ul li:last-child a {
  background-color: var(--yellow);
}

@media screen and (max-width: 800px) {
  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: inline-block;
  }
}


/* ABOUT SETTINGS
   ============================= */
#about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#about .box {
  width: 50%;
  background-color: rgba(255,251,248,255);
}

#about img {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 600px;
  object-fit: cover;
}

#about .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inner-box {
  max-width: 400px;
}

#about h2 {
  font-size: 42px;
}

#about p {
  padding: 20px 0;
  color: var(--very-dark-gray-blue);
  line-break: auto;
}

.item-2 {
  order: -1;
}

@media screen and (max-width: 960px) {
  .item-2 {
    order: 0;
  }

  #about .box {
    width: 100%;
    text-align: center;
  }
}

#about a {
  text-decoration: none;
  font-family: 'Fraunces';
  color: var(--very-dark-desat-blue);
  display: inline-block;
  z-index: 20;
}

.transform-link::before {
  content: "";
  display: inline-block;
  height: 8px;
  background-color: var(--yellow);
  opacity: 30%;
  border-radius: 3px;
  width: 100%;
  margin-bottom: -28px;
  margin-left: -2px;
  z-index: -1;
  padding: 0 2px;
}

.transform-link:hover::before {
  opacity: 100%;
}

.stand-out-link::before {
  content: "";
  display: inline-block;
  height: 8px;
  background-color: var(--soft-red);
  opacity: 30%;
  border-radius: 3px;
  width: 100%;
  margin-bottom: -28px;
  margin-left: -2px;
  z-index: -1;
  padding: 0 2px;
}

.stand-out-link:hover::before {
  opacity: 100%;
}



/* SERVICES SETTINGS
   ============================= */
#services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.graphic-design,
.photography {
  width: 50%;
  height: 50vw;
  max-height: 800px;
  text-align: center;
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.graphic-design h2,
.photography h2 {
  font-size: 2.1rem;
  margin-bottom: 30px;
}

.graphic-design p,
.photography p {
  font-size: 0.9rem;
  width: 55%;
  line-height: 1.7;
}

.graphic-design {
  background-image: url(./../images/desktop/image-graphic-design.jpg);
  color: var(--dark-desat-cyan);
}

.photography {
  background-image: url(./../images/desktop/image-photography.jpg);
  color: var(--dark-blue);
}

@media (max-width: 960px) {
  .graphic-design,
  .photography {
    width: 100%;
    height: 620px;
  }
  .graphic-design p,
  .photography p {
    width: 80%;
    line-height: 1.3;
  }
}

@media screen and (max-width: 430px) {
  .graphic-design,
  .photography {
    width: 100%;
    background-size: cover;
    height: 620px;
  }
  .graphic-design {
    background-image: url(./../images/mobile/image-graphic-design.jpg);
  }
  .photography {
    background-image: url(./../images/mobile/image-photography.jpg);
  }
}


/* TESTIMONIALS SETTINGS
   ============================= */
#testimonials {
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  background-color: rgba(255,251,248,255);
}

#testimonials h2 {
  text-transform: uppercase;
  color: var(--gray-blue);
  font-size: 1.35rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
  margin-bottom: 80px;
}

.testimonial-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  max-width: 1260px;
  gap: 20px;
}

@media screen and (max-width: 960px) {
  .testimonial-row {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 95%;
  }
}

.testimonial {
  /* width: 100%; */
  width: 330px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--very-dark-gray-blue);
}

.img-wrap {
  display: inline-block;
  width: 80px;
}

.img-wrap img {
  border-radius: 50%;
  width: 100%;
}

.testimonial-text {
  font-size: 1.05rem;
  height: auto;
}

.testimonial h3 {
  margin-bottom: 8px;
  color: var(--very-dark-desat-blue);
  font-weight: 900;
  font-size: 1.1rem;
}

.testimonial .title {
  font-size: 0.9rem;
  color: var(--gray-blue);
}


/* GALLERY SETTINGS
   ============================= */
#gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gallery-box {
  display: block;
  width: 25%;
  height: 50vw;
  max-height: 600px;
}

.gallery-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 800px ) {
  #gallery {
    flex-wrap: wrap;
  }

  .gallery-box {
    width: 50%;
  }
}


/* FOOTER SETTINGS
   ============================= */
footer {
  background-color: rgba(144,212,197,255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 60px 10px;
  height: 360px;
}

footer a {
  color: var(--dark-desat-cyan);
  text-decoration: none;
}


footer path {
  fill: var(--dark-desat-cyan);
}

.footer-logo {
  margin-bottom: -60px;
}

footer nav,
.social-links {
  width: 350px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-links {
  justify-self: flex-end;
}


/* ATTRIBUTION SETTINGS
   ============================= */
.attribution {
  text-align: center;
  background-color: #242424;
  color: #cdcdcd
}

.attribution a {
  color:hsl(7, 99%, 70%);
}

.attribution a:visited {
  color:hsl(7, 99%, 70%);
}